---
import MainLayout from "../../layouts/MainLayout.astro";

import Menu from "../../components/Menu.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const data = await fetch("https://dofjurysipshifoimvyh.supabase.co/rest/v1/karrusel", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvZmp1cnlzaXBzaGlmb2ltdnloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTEzMjYsImV4cCI6MjAyNjA2NzMyNn0.9dty-Cjmpg6zg6892rW1Zbx8oXq36KftJTYRLgtgqyw",
    },
  }).then((response) => response.json());

  return data.map((kunstner) => {
    return {
      params: { id: kunstner.id },
      props: { myData: kunstner },
    };
  });
}

const { myData } = Astro.props;
---

<Menu />
<article><h1>{myData.artist}</h1><p></p></article>

<MainLayout>
  <div class="grid_artist">
    <div class="artist_col">
      <h1>{myData.name}</h1>
      <h2>{myData.date}</h2>
      <h2>{myData.time} {myData.stage}</h2>
      <p>{myData.description}</p>
    </div>

    <div class="artist_col2">
      <img src={"/img/" + myData.image} alt="billede af artist" />
    </div>
  </div>

  <Footer />
</MainLayout>

<style>
  .grid_artist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 70px;
    gap: 20px;
  }

  .artist_col {
    display: grid;
    grid-column: 1 / span 1;
    margin-top: 2rem;
  }

  h1 {
    color: var(--blaa);
    margin-bottom: 40px;
  }

  h2 {
    color: white;
    font-family: "pt";
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 1;
  }

  p {
    color: white;
    font-family: "worksans";
    max-width: 600px;
    line-height: 1.5rem;
  }

  .artist_col2 img {
    max-width: 500px;
  }

  @media (max-width: 800px) {
    .grid_artist {
      display: flex;
      flex-direction: row;
    }
  }
</style>
